@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: #121212;
  color: #f2f2f2;
}

h4 {
  color: #f2f2f2;
}

p {
  font-family: "Roboto Mono", monospace;
  /* might have to change this so it works correctly */
}

th,
td {
  font-family: 'Roboto Mono', monospace;
  /* might have to change this so it works correctly */
}

.title-font {
  font-family: 'Roboto Mono', monospace;
  /* might have to change this so it works correctly */
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.5));
}

.container-fluid {
  background-color: #121212;
}

.bg-welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  color: #f2f2f2;
  padding: 20px;
  text-align: center;
  display: block;
}

#nfvLogo {
  height: 100px;
  padding-top: 20px;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.5));
}

#nfvLogoText {
  width: 180px;
  padding-top: 5px;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.5));
}

.sidebar {
  background-color: #1a1a1a;
  color: #f2f2f2;
}

#sidebar {
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  position: fixed;
  height: 100vh;
  background-color: #1a1a1a;
  color: #f2f2f2;
}

.dropzone {
  border: 2px dashed #888;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  width: 80%;
  margin: 20px auto;
  transition: border-color 0.3s ease;/

  /* Change color on hover */
  .dropzone:hover {
      border-color: #007bff;
      ;
  }

  .dropzone.dragover {
      border-color: #007bff;
      /* Highlight when dragging */
  }

}

/* Button Styling */
#modalBtn {
  background-color: #3243a6;
  color: #f2f2f2;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#modalBtn:hover {
  background-color: #475bce;
}


#browse-button {
  cursor: pointer;
  color: #52a7c9;
  text-decoration: underline;
}

#browse-button:hover {
  color: #80d2f2;
}

#file-input {
  display: none;
}

.nav-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  padding-right: 16px;
}

.nav-link {
  color: #bbb;
}

.nav-link.active {
  font-size: 32px;
  text-shadow: #f2f2f2;
}

#upload-icon,
#chart-icon,
#table-icon {
  color: #c2c2c2;
}

#chart-icon img {
  width: 28px;
}

#table-icon {
  padding-top: 60px;
}

#upload-icon {
  padding-bottom: 60px;
}

#overlayCSV {
  display: none;
}

#openOverlayLink {
  color: #c2c2c2;
  font-size: 22px;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
  padding-right: 4px;
}

#csvInput {
  width: 100%;
  height: 150px;
  padding: 15px;
  border: 2px solid #555;
  background-color: #1a1a1a;
  color: #f2f2f2;
  border-radius: 5px;
  margin-top: 10px;
  font-family: 'Roboto Mono', monospace;
}

#csvInput::placeholder {
  color: #999;
}

#upload-icon:hover,
#chart-icon:hover,
#table-icon:hover,
#openOverlayLink:hover {
  color: #f2f2f2;
  fill: #f2f2f2;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}



#chart-icon-svg {
  transition: transform 0.3s ease-in-out;
}

#chart-icon:hover #chart-icon-svg {
  content: url('./img/chart-scatter_white.svg');
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.5));
}

.bottomOverlayUl {
  padding-bottom: 20px;
}

#main-content {
  margin-left: 200px;
  margin-right: 0;
  /* Add this line to remove right margin */
  width: calc(100% - 200px);
  /* Adjust width to take up the remaining space */
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#graph-container {
  height: 100vh;
  position: relative;
  overflow: hidden;
  /* Prevent content overflow */
}

#graph-svg {
  position: absolute;
  z-index: 0;
}

.graph-buttons-inner {
  padding-top: 10px;
  padding-right: 5px;
  position: relative;
  transition: right 0.1s ease-in-out;
  /* Adjust timing and easing as needed */
}

#zoom-buttons-container button {
  background-color: #3243a6;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  color: #f2f2f2;
  transition: background-color 0.3s ease, transform 0.3s ease;
  -webkit-text-stroke: 0.25px #a1a1a1;
  margin-bottom: 5px;
}

#view-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#zoom-buttons-container button:hover {
  background-color: #4e61ca !important;
  transform: scale(1.05);
}

#zoomToFitButton button:hover {
  background-color: #475bce;
  transform: scale(1.05);
}

#view-button-top {
  width: 50px;
  height: 50px;
  z-index: 2;
}

#zoom-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 10px;
}

.graphView-button-1 {
  top: 50px;
}

.view-button-container {
  justify-content: flex-end;
  margin-right: 5px;
}

.zoom-button-in,
.zoom-button-out,
.zoom-button-fit,
.reset-button {
  flex-direction: row;
  align-content: flex-end;
  justify-content: space-evenly;
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding: 5px 10px;
  margin: 5px;
  z-index: 2;
  font-size: 24px;
}

.zoom-button-fit {
  font-size: 12px !important;
  color: #f2f2f2;
}

#zoomToFit-icon-svg {
  fill: #f2f2f2;
  width: 18px;
}

.tooltip-data {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.tooltip-data2 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.tooltip-amount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
}

.tooltip-bottom-data {
  display: flex;
  flex-direction: column;
}

.tooltipLinkClicked {
  opacity: 0;
  display: none;
  max-width: 350px;
  right: -300px;
  /* Initial position - assuming tooltip width is 300px */
  top: 0;
  /* Align to the top */
  font-size: 13px;
  word-wrap: break-word;
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #ccc;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 4px;
  margin-top: 4px;
  margin-right: 10px;
  border-radius: 10px;
  pointer-events: auto;
  user-select: text;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.5));
  transition: right 0.1s;
  /* Smooth transition for right property */
}

.tooltipLinkHovered {
  opacity: 0;
  display: none;
  max-width: 500px;
  font-size: 13px;
  word-wrap: break-word;
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #ccc;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  border-radius: 10px;
  pointer-events: none;
  user-select: text;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.5));
}

.tooltipNodeClicked {
  opacity: 0;
  display: none;
  max-width: 350px;
  right: -300px;
  /* Initial position - assuming tooltip width is 300px */
  top: 0;
  /* Align to the top */
  font-size: 13px;
  word-wrap: break-word;
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #ccc;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  margin-top: 4px;
  margin-right: 10px;
  border-radius: 10px;
  pointer-events: auto;
  user-select: text;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.5));
  transition: right 0.1s;
  /* Smooth transition for right property */
}

.tooltipNodeHovered {
  opacity: 0;
  display: none;
  max-width: 500px;
  word-wrap: break-word;
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #ccc;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  border-radius: 10px;
  pointer-events: none;
  font-size: 13px;
  user-select: text;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.5));
}

.tooltip-container {
  width: "120";
  height: "80";
  display: flex;
  justify-content: center;
}

.tooltip-table {
  width: 100%;
  border-collapse: collapse;
}

.tooltip-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.tooltip-table td:first-child {
  width: 20%;
}

.tooltipNode-clicked-url,
.tooltip-clicked-url,
.tooltipNode-hovered-url,
.tooltip-hovered-url {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #121212;
  color: #f2f2f2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tooltipNode-clicked-url i,
.tooltip-clicked-url i,
.tooltipNode-hovered-url i,
.tooltip-hovered-url i {
  margin-right: 8px;
}

.tooltipNode-clicked-url:hover,
.tooltip-clicked-url:hover,
.tooltipNode-hovered-url:hover,
.tooltip-hovered-url:hover {
  background-color: #1a1a1a;
}

.close-tooltip-node,
.close-tooltip-link {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 20px;
  color: #333;
  /* Change as needed */
}

.close-tooltip-node:hover,
.close-tooltip-link:hover {
  color: #f2505d;
  font-weight: bold;
}

.tooltip-header {
  position: relative;
  padding-bottom: 30px;
}

#table-container-outer {
  position: relative;
  height: calc(100vh - 36px);
  overflow: auto;
  display: none;
}

#table-container {
  background-color: #121212;
  overflow-x: auto;
  z-index: 80;
  display: none;
}

.tabulator-header {
  color: #f2f2f2;
}

.tabulator-row:hover {
  background-color: #444444 !important;
}

.tabulator-col-title {
  background-color: #3243a6;
}

.tabulator-row-odd {
  background-color: #121212 !important;
  color: #f2f2f2 !important;
  z-index: 81;
}

.tabulator-row-even {
  background: #1a1a1a !important;
  color: #f2f2f2 !important;
  z-index: 81;
}

.table-highlight {
  background-color: #ff6600 !important;
}

.copy-tooltip {
  position: relative;
  display: inline-block;
  z-index: 89;
  border-bottom: 1px dotted black;
  /* Optional: adds underline to indicate interactivity */
}

/* Tooltip text */
.copy-tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 89;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  /* Use half of the width value */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text when hovering */
.copy-tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  z-index: 89;
}

.overlay,
#overlayCSV,
#overlay-about,
.overlay-about {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 46, 46, 0.5);
  color: #f2f2f2;
  z-index: 2;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: #1a1a1a;
  border: 2px solid #444;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 600px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

#overlay-about .overlay-content {
  padding-bottom: 12px;
  width: 800px;
}

#overlay-about .overlay-content span {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #f2f2f2;
  cursor: pointer;
  transition: color 0.3s;
  padding: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.close:hover {
  color: #ff4747;
  background-color: #333;
}

.contact-columns {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.contact-info {
  width: 45%;
  padding-top: 20px;
  border-radius: 10px;
  background-color: #2a2a2a;
  color: #f2f2f2;
  font-size: medium;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.author-info {
  width: 45%;
  border-radius: 10px;
  background-color: #2a2a2a;
  color: #f2f2f2;
  font-size: medium;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.author-info h6 {
  margin-bottom: 0px;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  color: #80d2f2;
}

.contact-info span {
  font-size: small;
  padding-bottom: 6px;
  margin-top: 16px;
  color: #80d2f2;
}

.author-info span {
  font-size: small;
  margin-top: 16px;
  color: #80d2f2;
}

.contact-info a {
  color: #52a7c9;
  padding-bottom: 8px !;
}

.contact-info a:hover {
  color: #80d2f2;
}

.author-info a {
  color: #52a7c9;
  padding-bottom: 0px !important;
  margin-bottom: 4px !important;
}

.author-info a:hover {
  color: #80d2f2;
}

.author-info h6 {
  color: #f2f2f2;
}

#auth-1 {
  font-size: medium !important;
  padding-bottom: 0px !important;
  margin-top: 8px !important;
}

#auth-1 a {
  color: #52a7c9;
  padding-bottom: 0px !important;
  margin-bottom: 4px !important;
}

#auth-1 a:hover {
  color: #80d2f2;
}

.contact-info h6 {
  margin-bottom: 10px;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  color: #f2f2f2;
}

.contact-info p {
  color: #52a7c9;
}

.contact-info-title {
  color: #f2f2f2;
}

@media screen and (max-width: 600px) {
  .info-columns {
      flex-direction: column;
      align-items: center;
  }

  .contact-info,
  .author-info {
      width: 90%;
      margin-bottom: 10px;
  }
}