@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html,
body,
#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.side-menu-logos {
  display: flex;
  flex-direction: column;
}

.logoImg {
  width: 125px;
  margin-top: 20px;
}

.menu-button-1 {
  font-size: 32px;
  margin: 20px;
  color: #c2c2c2;
  fill: #c2c2c2;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}

.menu-button-1:hover {
  color: #f2f2f2;
  fill: #f2f2f2;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}

.bottom-button {
  color: #c2c2c2;
  fill: #c2c2c2;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}

.bottom-button:hover {
  color: #f2f2f2;
  fill: #f2f2f2;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}

/* upload modal styling */

.upload-modal-backdrop {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1050;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: #1a1a1a;
  border: 2px solid #444;
  align-items: center;
  padding: 30px 30px 22px 30px;
  border-radius: 5px;
  color: #f2f2f2;
  width: fit-content;
  position: relative;
}

.close-upload-modal {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #f2f2f2;
  transition: color 0.3s, background-color 0.3s;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  text-align: center;
  box-sizing: border-box;
}

.close-upload-modal:hover {
  color: #ff00f3;
  background-color: #333;
}

.dropzone {
  padding: 30px;
  border: 2px dashed #888;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  width: 80%;
  margin: 20px auto;
  transition: border-color 0.3s ease;
  font-family: 'Roboto Mono', monospace;

  .dropzone:hover {
    border-color: #ff00f3;
  }

  .dropzone:dragover {
    border-color: #ff00f3;
  }
}

#browse-button {
  cursor: pointer;
  color: #ff00f3;
  text-decoration: underline;
  position: relative;
}

#browse-button:hover .browse-tooltip {
  visibility: visible;
  opacity: 1;
}

#browse-button:hover {
  color: #ff56f7;
}

.browse-tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #333;
  color: #fff;
  font-size: 12px;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.browse-tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

#file-input {
  display: none;
}

#csvInput {
  width: 100%;
  height: 150px;
  padding: 15px;
  border: 2px solid #555;
  background-color: #1a1a1a;
  color: #f2f2f2;
  border-radius: 5px;
  margin-top: 10px;
  font-family: 'Roboto Mono', monospace;
}

#modal-submit-btn {
  position: relative;
  background-color: #ff00f3;
  color: #f2f2f2;
  border: none;
  border-radius: 5px;
  margin-top: 16px;
  margin-bottom: 2px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Roboto Mono', monospace;
}

#modal-submit-btn:hover {
  background-color: #ff56f7;
}

#modal-submit-btn:hover .submit-tooltip {
  visibility: visible;
  opacity: 1;
}

.submit-tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #333;
  color: #fff;
  font-size: 12px;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 114%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.submit-tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.close-info-modal {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #f2f2f2;
  transition: color 0.3s, background-color 0.3s;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  text-align: center;
  box-sizing: border-box;
}

.close-info-modal:hover {
  color: #ff00f3;
  background-color: #333;
}

.info-modal-body {
  margin-top: 20px;
}

.modal-content img {
  width: 40%;
  height: auto;
  margin: 10px 0;
}